<br>
<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <h1>Addresses</h1>

  <table>
    <thead>
      <tr>
        <th>Contact</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>        
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.contact.name %></td>
          <td><%= address.street %></td>
          <td><%= address.city%></td>
          <td><%= address.state%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @addresses %>
  <br>

  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary" %>
</div>
